<div class="user_name">
  <%= @user.firstname %> <%= @user.lastname %>
</div>
<div class="user_email">
  <%= @user.email %>
</div>

<% @locations.each do |location| %>
  <%= link_to(location_path(id: location.id)) do %>
    <div class="location_name">
      <%= location.name %>
    </div>
  <% end %>
<% end %>