<div class="location_name">
  <%= @location.name %>
</div>
<div class="location_street">
  <%= @location.street %>
</div>
<div class="location_number">
  <%= @location.number %>
</div>
<div class="location_postal_code">
  <%= @location.postal_code %>
</div>
<div class="location_city">
  <%= @location.city %>
</div>