<div class="location_name">
  <%= @location.name %>
</div>
<div class="location_street">
  <%= @location.street %>
</div>
<div class="location_number">
  <%= @location.number %>
</div>
<div class="location_postal_code">
  <%= @location.postal_code %>
</div>
<div class="location_city">
  <%= @location.city %>
</div>
<div class="location_question_button">
  <%= link_to 'Vragen', location_questions_path(location_id: @location.id) %>
</div>